$iiris-priority-label-height: 25px;
$iiris-priority-label-width: 110px;
$iiris-table-vertical-padding: 6px;
$iiris-table-horizontal-padding: 10px;

.iiris-event-table {
  height: 100%;
  overflow-y: scroll;
  .table {
    width: 100%;
    tr {
      border-bottom: 1px solid #cccccc;
      &.iiris-table-selectable-row {
        cursor: pointer;
      }
      &.iiris-table-selectable-row:hover {
        background-color: #efefef;
      }
    }
    td {
      word-break: break-word;
      padding: $iiris-table-vertical-padding $iiris-table-horizontal-padding;
      &.iiris-no-data-message {
        text-align: center;
        font-weight: 600;
      }
      &.iiris-colored-row {
        background-color: #f6d5d5;
      }
      &.iiris-table-cell-single-line {
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.iiris-table-cell-no-wrap {
        white-space: nowrap;
      }
      &.iiris-cell-width-10 {
        width: 10%;
      }
      &.iiris-cell-width-20 {
        width: 20%;
      }
      &.iiris-cell-width-30 {
        width: 30%;
      }
      &.iiris-cell-width-40 {
        width: 40%;
      }
      &.iiris-cell-width-50 {
        width: 50%;
      }
      &.iiris-cell-width-60 {
        width: 60%;
      }
      &.iiris-cell-width-70 {
        width: 70%;
      }
      &.iiris-cell-width-80 {
        width: 80%;
      }
      &.iiris-cell-width-90 {
        width: 90%;
      }
      &.iiris-table-title-cell {
        font-weight: 600;
        padding-right: 15px;
        vertical-align: top;
      }
      a {
        color: #0189bf;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    th {
      padding: 5px 10px;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      font-weight: 600;
      .priority-label-title {
        width: 110px;
      }
    }
    td,
    th {
      .iiris-table-cell-right-align {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      &.iiris-table-type-icon {
        padding: 2px 15px;
        font-size: 20px;
      }
    }
    .iiris-button-cell {
      display: flex;
      justify-content: flex-end;
      height: $iiris-priority-label-height + ($iiris-table-vertical-padding * 2);
      border-bottom: none;
    }
  }
  &.iiris-table-bottom-spacer {
    margin-bottom: 40px;
  }
}

.theme-light .iiris-event-table .table {
  .iiris-inner-table {
    td {
      background-color: #efefef;
      border: 1px solid #ffffff;
    }
  }
}

.theme-dark .iiris-event-table .table td.iiris-colored-row {
  background-color: #690000;
}

.theme-dark .iiris-event-table .table tr.iiris-table-selectable-row:hover {
  background-color: #333333;
}
